ASPNET_WebAPP/bin/Debug/net6.0/appsettings.Development.json
ASPNET_WebAPP/bin/Debug/net6.0/appsettings.json
ASPNET_WebAPP/bin/Debug/net6.0/ASPNET_WebAPP.deps.json
ASPNET_WebAPP/bin/Debug/net6.0/ASPNET_WebAPP.dll
ASPNET_WebAPP/bin/Debug/net6.0/ASPNET_WebAPP.exe
ASPNET_WebAPP/bin/Debug/net6.0/ASPNET_WebAPP.pdb
ASPNET_WebAPP/bin/Debug/net6.0/ASPNET_WebAPP.runtimeconfig.json
ASPNET_WebAPP/bin/Debug/net6.0/ASPNET_WebAPP.staticwebassets.runtime.json
ASPNET_WebAPP/obj/staticwebassets.pack.sentinel
ASPNET_WebAPP/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ASPNET_WebAPP/obj/Debug/net6.0/apphost.exe
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.AssemblyInfo.cs
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.AssemblyInfoInputs.cache
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.assets.cache
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.csproj.AssemblyReference.cache
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.csproj.CoreCompileInputs.cache
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.csproj.FileListAbsolute.txt
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.dll
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.GeneratedMSBuildEditorConfig.editorconfig
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.genruntimeconfig.cache
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.GlobalUsings.g.cs
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.MvcApplicationPartsAssemblyInfo.cache
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.pdb
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.RazorAssemblyInfo.cache
ASPNET_WebAPP/obj/Debug/net6.0/ASPNET_WebAPP.RazorAssemblyInfo.cs
ASPNET_WebAPP/obj/Debug/net6.0/staticwebassets.build.json
ASPNET_WebAPP/obj/Debug/net6.0/staticwebassets.development.json
ASPNET_WebAPP/obj/Debug/net6.0/ref/ASPNET_WebAPP.dll
ASPNET_WebAPP/obj/Debug/net6.0/refint/ASPNET_WebAPP.dll
ASPNET_WebAPP/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
ASPNET_WebAPP/obj/Debug/net6.0/scopedcss/bundle/ASPNET_WebAPP.styles.css
ASPNET_WebAPP/obj/Debug/net6.0/scopedcss/projectbundle/ASPNET_WebAPP.bundle.scp.css
